{{!-- Timers Module --}}
    {{#> module moduleName="Timer" data=allTimers}}
      {{#> panels/timers-1}}
      <div class="left-panel" id="select-timer">
        <h2>All Timers</h2>
        <button class="new-item" id="new-timer">New</button>
        <div id="saved-timers">
        {{#each allTimers}}
          <button class="timer-select-button" id="{{this._id}}" data-title="{{this.title}}" data-duration="{{this.durationFormat}}" data-seconds="{{this.duration}}">
            <p class="timer-title">{{this.title}}</p> <p class="timer-duration">{{this.durationFormat}}</p>
          </button>
        {{/each}}
        </div>
      </div>
      {{/panels/timers-1}}

      {{#> panels/timers-2}}
      <div class="right-panel" id="timer-counter" data-paused="false" data-seconds="">
        <h2 id="timer-name">Select a timer!</h2>
        {{!-- <p id="timer-duration"></p> --}}
        <p id="countdown" data-timeLeft=""></p>
        <progress id="countdown-progress" value="" max=""></progress> 
        <p id="play-pause-p"></p>
      </div>
      {{/panels/timers-2}}
    {{/module}}
  {{!----}}