<script
  src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
></script>
<script
  type="module"
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.1.1/chart.umd.js"
></script>
<script type="module" src="../public/js/editProfile.js"></script>
<script type="module" src="../public/js/selectGraph.js"></script>

{{#each graphs}}
  <script type="module" src="{{this.script}}"></script>
{{/each}}




<section class="px-12 py-8">
  <h1>Dashboard</h1>
  <span>{{user.fullName}} <label><button id="editProfileBtn"><i class="fa-solid fa-circle-user"></i></button></label></span>
  <br>
  <p>{{userData.bio}}</p>

  <h2>Module Data Graphs</h2>
  <select id="graph-select">
      <option disabled selected value> select </option>
      {{#each graphs}}
        <option chart-id="{{this.id}}">{{this.name}}</option>
      {{/each}}
  </select>
  <div id="graph-div">
    {{#each graphs}}
      <div hidden class="chart-div" id="{{this.id}}-div">
        <canvas id="{{this.id}}" class="charts"></canvas>
      </div>
    {{/each}}
  </div>
  
</section>


{{!-- 
edit profile modal --}}
<div id="editProfileModal" class="fixed top-0 left-nav" {{editProfile}}>
  {{#> modal modalName="Edit Profile"}}

<form id="editProfileForm" class="flex flex-col space-y-2 text-lg" action="/profile/{{userData._id}}" method="POST">
      <label>
        Full Name:
        <input name="fullName" type="text" value="{{userData.fullName}}">
      </label>
      <br>
      <label>
        Bio:
        <textarea id="bio-textarea" name="bio">{{userData.bio}}</textarea>
      </label>
      <br>
      {{!-- <label for="profile-picture-big">Profile Picture</label>
      <img id="profile-picture-big" src="{{profilePic}}" alt="Profile Picture">
      <br>
      <label>
        Upload New:
        <input name="profilePictureInput" type="file" accept="image/*">
      </label> --}}
      
      <button type="button" id="change-password-btn" value="false">Change Password</button>
      

      <label id="old-password-change" {{editPassword}}>
        Old password:
        <input id="old-password" name="oldPassword" type="password">
      </label>

      <label id="new-password-change" {{editPassword}}>
        New password:
        <input id="new-password" name="newPassword" type="password">
      </label>

      <div class="errorContainer">
        {{#each error}}
          <p class="error">
            {{this}}
          </p>
        {{/each}}
      </div>

      <div class="!mt-[5vh] space-x-4 module-edit-bottom-buttons">
        <button
          type="submit"
          class="w-fit px-6 py-2 text-snow-3 hover:text-snow-1 underline bg-frost rounded-std"
        >
          Save
        </button>

        <button type="button" id="editProfileCancelBtn" class="w-fit text-gray-2 hover:text-gray-1 underline">Cancel</button>
      </div>
    </form>
  {{/modal}}
</div>