<script type="module" src="../public/js/editModules.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>

{{#if invalid}}
<script>alert("Invalid input")</script>
{{/if}}

<section class="px-12 py-8">
  <h1>Hello, <span class="font-bold">{{user.fullName}} </span></h1> 
  <div class="flex justify-between w-full">
    <p>Welcome to your modules!</p>
    <button id="editModulesBtn" class="text-frost hover:text-polar underline">Edit Modules</button>
  </div>
  {{#each enabledModules}}
    {{{renderModule this.tag}}}
  {{/each}}

</section>
{{!-- Edit Modules Modal --}}
<div id="editModulesModal" class="fixed top-0 left-nav" hidden>
  {{#> modal modalName="Edit Modules"}}
  <p>Drag and drop modules from the unenabled side to the enabled side to active them! <br> Drag and drop to reorder them into your perfect setup!</p>


  {{!-- <div class="drag-drop-modules">
    <form id="editModulesForm" class="flex flex-col space-y-2 text-lg" action="/modules" method="POST">
      {{#each allModules}}
      <div class="draggable-item">
      <label class="w-fit">
        <input class="moduleInput" type="checkbox" name="{{this.tag}}" id="{{this.tag}}" value="{{this.tag}}" {{#ifContains ../enabledModules this.tag}}checked{{/ifContains}} >
        {{this.name}}
      </label>
      </div>
      {{/each}}
  </div> --}}
<form id="editModulesForm" class="flex flex-col space-y-2 text-lg" action="/modules" method="POST">
  <div class="drag-drop-container">
    <div class="row">
      <div class="column">
        <h3>Unenabled Modules</h3>
        <ul class="connected-sortable unenabled">
          {{#each allModules}}
            {{#unlessContains ../enabledModules this.tag}}<li class="draggable-item" data-tag="{{this.tag}}">{{this.name}}</li>{{/unlessContains}}
          {{/each}}
        </ul>
      </div>
      
      <div class="column">
        <h3>Enabled Modules</h3>
        <ul class="connected-sortable enabled" id="enabled-modules">
          {{#each enabledModules}}
            <li class="draggable-item" data-tag="{{this.tag}}">{{this.name}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>




      <div class="!mt-[5vh] space-x-4 module-edit-bottom-buttons">
        <button id="submit-edit-modules" type="button" class="w-fit px-6 py-2 text-snow-3 hover:text-snow-1 underline bg-frost rounded-std">Save</button>
        <button type="button" id="editModulesCancelBtn" class="w-fit text-gray-2 hover:text-gray-1 underline">Cancel</button>
      </div>
    </form>
  {{/modal}}
</div>

