<script src="../public/js/editModules.js"></script>

<section class="px-12 py-8">
  <h1>Hello, <span class="font-bold">{{user.fullName}}</span></h1>
  <div class="flex justify-between w-full">
    <p>Welcome to your modules!</p>
    <button id="editModulesBtn" class="text-frost hover:text-polar underline">Edit Modules</button>
  </div>

  {{!-- Edit Modules Modal --}}
  <div id="editModulesModal" class="fixed top-0 left-nav" hidden>
    {{#> modal modalName="Edit Modules"}}
      <form class="flex flex-col space-y-2 text-lg" action="/modules" method="POST">
        {{#each allModules}}
        <label class="w-fit">
          <input type="checkbox" name="{{this.tag}}" id="{{this.tag}}" value="{{this.tag}}" {{#ifContains ../enabledModules this.tag}}checked{{/ifContains}} >
          {{this.name}}
        </label>
        {{/each}}

        <button type="submit" class="!mt-[5vh] w-fit px-6 py-2 text-snow-3 hover:text-snow-1 underline bg-frost rounded-std">Save</button>
      </form>
    {{/modal}}
  </div>

  </script>

  {{#each enabledModules}}
    {{{renderModule this}}}
  {{/each}}
</section>